<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPojo</servlet-name>
        <servlet-class>model.LoginPojo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validation</servlet-name>
        <servlet-class>model.Validation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>model.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout2</servlet-name>
        <servlet-class>logout2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPojo</servlet-name>
        <url-pattern>/LoginPojo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Validation</servlet-name>
        <url-pattern>/Validation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout2</servlet-name>
        <url-pattern>/logout2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>homepage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
